/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100vw;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.container {
    background-color: #faf4e4;
    display: grid;
    grid-template-areas: 
    "sidebar header header"
    "sidebar main main";
}

.header {
    grid-area: header;
    display: flex;
    margin: 20px;
    justify-content: space-between;

}

button {
  border-radius: 100%;
  background-color: #f4b8da;
  border: none;
}

input {
  border: none;
  background-color: #faf4e4;
  border-radius: 30px;
  border: 3px solid #f4b8da;
}

.sidebar {
  font-size: 16px;
  background-color: #121212;
  color: #faf4e4;
  grid-area: sidebar;
  border-radius: 20px;
  margin: 10px;
  padding: 1.2rem 1.5rem;
  width: min(300px, 25vw);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar-nav {
  margin: 1.6em 0;
  display: grid;
  gap: 32px;
}

.sidebar h1 {
  text-align: center;
  
}

.nav-label {
  font-size: .9rem;
  display: block;
  margin-bottom: 1rem;
  
}

.sidebar li a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 13px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 .6rem;
  line-height: 2.5;

}

.main-content {
  grid-area: main;
  display: flex;
  padding: 1em;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5em;
  
}

.card {
  border: 3px solid #f4b8da;
  border-radius: 20px;
  background-color: #ede7d9;
}

.right-sidebar {
  display: grid;
  padding: 1em;
}